@{
    ViewData["title"] = "Elminar Producto";
}

@model Clientes

<section>
    <form asp-controller="Clientes" asp-action="EliminarCliente" method="post">
        <input hidden asp-for="@Model.ClienteId">

        <section class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <p>
                !PELIGRO! - Esta por eliminar el Cliente "@Model.Nombre" - numero "@Model.ClienteId". ¿Desea continuar?
            </p>
        </section>

        <section class="btn-group">
            <button type="submit" class="btn btn-danger btn-lg my-3 mx-5">Eliminar Cliente</button>
            <a asp-controller="Productos" asp-action="Index" class="btn btn-primary btn-lg my-3 mx-5">Cancelar</a>
        </section>
    </form>
</section>